a{
    padding: 10px;
    background-color: springgreen;
    border-radius: 10px;
    color:white;
}


.stock{
display:flex;
flex-direction: row;
align-items: center;
}
.stock img{
    height:160px;
    width: 160px;

}