*{
box-sizing: border-box;

}


.botonStock{
position: fixed;
bottom: 10px;
right: 10px;
text-decoration: none;
}

a{
    padding: 5px;
    background-color: springgreen;
    border-radius: 10px;
    color:white;
}
body{
    font-family: 'Lexend Tera', sans-serif;
}


/* footer//////////////////////////////////////////////////////////*/
/* Pagina de busqueda ///////////////////////////////77*/

header{
display: flex;
flex-direction: row;
justify-content: space-between;


}

.menu{
    display:flex;
    flex-direction:row;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    list-style: none;    
}
.menu a{
    text-decoration: none;
}

.logo img{

height:60px;
    width:60px;

}
.logo{
font-family: 'Sedgwick Ave Display', cursive;

}
/* sotck calcetines/////////////////////////////////////////////77 */

.stock{
display:flex;
flex-direction: row;
align-items: center;

}
.stock img{
    height:200px;
    width: 200px;
}

#sockStock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
}
/* footer//////////////////////////////////////////////////////////*/

.footer  {
    border-top: solid blue 1px;           
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: springgreen;
    color: white;
    margin-bottom:0px;
    width: 100%;
    padding-bottom: 60px;
    align-items: center;
    }   
    
    .footerDer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    
    
    }
    /* .footerDer ul{
    
        padding :0px;
        margin-left: 50px;
        margin-right: 50px;S
    
    } */
    
    .footerDer li{
    
        list-style: none;
        padding: 10px;
    } 
    
    .foto img
    {
        width: 30px;
        height: 30px;
    }
    .foto{
        margin-left: 15px;
    
    }
    .footerizq{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    }
    .listos h5{
    margin-bottom: 0px;
    
    }
    .listos ul{
        margin-top: 0px;
        
        }
     .listos
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
    
